.homepage {
  display: flex;
}
.home-container {
  flex: 5;

  .widget-container,
  .charts {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: none;
  }
  .charts {
    padding: 5px 20px;
  }
}
